footer {
  background-color: #40514e;
  color: white;
  padding: 20px;
  @include for-phone-only {
    padding: 5px;
    height: 35vh;
  }
  @include for-tablet-portrait-up {
    height: 30vh;
  }
  @include for-tablet-landscape-up {
    height: 30vh;
  }
  @include for-desktop-up {
    height: 25vh;
  }
  @include for-big-desktop-up {
    height: 25vh;
  }
  li {
    @include font(PP_B, 25px, center);
    list-style: none;
    display: inline;
    padding: 10px;
    @include for-phone-only {
      font-size: 22px;
    }
  }
  p {
    @include font(PP_XL, 18px, right);
  }
  p i {
    font-size: 30px;
    padding: 10px;
  }

  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
}
