footer {
  background-color: #413c39;
  color: #f5d09e;
  padding: 20px;
  position: relative;
  @include for-phone-only {
    padding: 5px;
    height: 50vh;
  }
  @include for-tablet-portrait-up {
    height: 30vh;
  }
  @include for-tablet-landscape-up {
    height: 30vh;
  }
  @include for-desktop-up {
    height: 25vh;
  }
  @include for-big-desktop-up {
    height: 25vh;
  }
  li {
    @include font(PP_B, 25px, center);
    list-style: none;
    display: inline;
    padding: 10px;
    @include for-phone-only {
      font-size: 22px;
    }
  }
  p {
    @include font(PP_XL, 18px, right);
  }
  p i {
    font-size: 30px;
    padding: 10px;
  }

  a:link {
    color: #f5d09e;
    text-decoration: none;
  }
  a:hover {
    text-shadow: 1px 1px 1px #f5d09e;
  }
  a:visited {
    color: #f5d09e;
    text-decoration: none;
  }
  &:before {
    content: url(../../../img/FOSSIIIIL.png);
    position: absolute;
    left: 0;
    top: 0;
    @include for-phone-only {
      display: none;
    }
    @include for-desktop-up {
      left: 200px;
    }
    @include for-big-desktop-up {
      height: 200px;
    }
  }
}
