@mixin font($family,$size,$align) {
	font-family: $family;
	font-size: $size;
	text-align: $align;
}

// RESPONSIVE

// Small devices
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
 
// Medium devices
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
 
// Large devices
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
 
// Extra large devices
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

//EXTRA Extra large devices

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
