#work {
	height: auto;
	margin-bottom: 10vh;
	img {
		width: 100%;
		border-radius: 20px;
		box-shadow: 5px 5px 5px lightgrey;
		@include for-phone-only {
		margin-top: 5%;
		}
		@include for-tablet-portrait-up {
		margin-top: 10%;
		}
	}
	img:hover{
		width: 99%;
		cursor: pointer;
	}
	h2 {
		@include font(PP_XB,40px, center);
		padding: 30px;
		margin-top: 5vh;
	}
	p {
		@include font(PP_XL,20px, center);
		padding: 20px;
		@include for-phone-only{
			font-size: 18px; 
		}
	}
}

