#skills {
  background-color: #66b495;
  height: auto;
}
.cartouche {
  background-color: white;
  text-align: center;
  position: relative;
  margin-top: -30px;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 50px;
  animation: slide-down 3s ease-out;
  @keyframes slide-down {
    0% {
      opacity: 1;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @include for-phone-only {
    position: relative;
    top: 0px;
    border-radius: 0px;
  }
  img {
    width: 40%;
    padding: 30px;
    @include for-phone-only {
      width: 38%;
    }
  }
  h3 {
    @include font(PP_B, 23px, center);
    padding-bottom: 30px;
    color: #413c39;
    @include for-phone-only {
      font-size: 22px;
    }
  }
  h4 {
    @include font(PP_R, 20px, center);
    color: #413c39;
  }
  p {
    @include font(PP_XL, 18px, center);
    color: #413c39;
    padding: 25px;
    @include for-phone-only {
      font-size: 15px;
      padding: 50px;
    }
  }
}
