#work {
	margin-top: 25vh;
	height: 160vh;

	img {
		width: 100%;
		border-radius: 20px;
		box-shadow: 5px 5px 5px lightgrey;
	}
	img:hover{
		width: 99%;
		cursor: pointer;
	}
	h2 {
		@include font(PP_XB,40px, center);
		padding: 30px;
	}
	p {
		@include font(PP_XL,20px, center);
		padding: 30px;
	}
}
